/* Attendance.css */
.attendance-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  .attendance-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attendance-table th,
  .attendance-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .attendance-checkbox {
    transform: scale(1.5); /* Make the checkboxes larger */
  }
  
  /* Style the checked checkboxes */
  .attendance-checkbox:checked + label {
    background-color: #6d1b7b;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  